IF DB_ID('denuncia_segura') IS NULL
BEGIN
    CREATE DATABASE [denuncia_segura];
END
GO

USE [denuncia_segura]
GO
/****** Objeto:  Table [dbo].[lista_valores]    Data do Script: 26/04/2026 23:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lista_valores](
	[id_valor] [bigint] IDENTITY(1,1) NOT NULL,
	[valor] [varchar](max) NOT NULL,
	[id_campo] [bigint] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_lista_valores] PRIMARY KEY CLUSTERED 
(
	[id_valor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ocorrencia_tipo]    Data do Script: 26/04/2026 23:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocorrencia_tipo](
	[id_valor] [bigint] NOT NULL,
	[id_ocorrencia] [bigint] NOT NULL,
 CONSTRAINT [PK_ocorrencia_tipo] PRIMARY KEY CLUSTERED 
(
	[id_valor] ASC,
	[id_ocorrencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ocorrencias]    Data do Script: 26/04/2026 23:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocorrencias](
	[id_ocorrencia] [bigint] NOT NULL,
	[descricao] [varchar](max) NOT NULL,
	[data_ocorrencia] [date] NOT NULL,
	[frequencia] [bigint] NOT NULL,
	[cidade] [varchar](max) NULL,
	[bairro] [varchar](max) NULL,
	[endereco] [varchar](max) NULL,
	[relacao_vitima] [bigint] NOT NULL,
	[agressor_presente] [bit] NOT NULL,
	[usa_alcool_drogas] [bigint] NOT NULL,
	[risco_imediato] [bit] NOT NULL,
	[crianca_idoso] [bit] NOT NULL,
	[existe_acesso_armas] [bigint] NOT NULL,
	[deseja_contato] [bit] NOT NULL,
	[telefone] [varchar](max) NULL,
	[email] [varchar](max) NULL,
	[confirmacao] [bit] NOT NULL,
	[data_registro] [datetime] NOT NULL,
 CONSTRAINT [PK_ocorrencias] PRIMARY KEY CLUSTERED
(
	[id_ocorrencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


CREATE SEQUENCE dbo.seq_ocorrencias
AS BIGINT
START WITH 1
INCREMENT BY 1;
GO


/****** Objeto:  View [dbo].[vw_ocorrencias]    Data do Script: 26/04/2026 23:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_ocorrencias]
AS
SELECT
    o.id_ocorrencia,
    o.descricao,
    o.data_ocorrencia,
    o.cidade,
    o.bairro,
    o.endereco,
    o.telefone,
    o.email,
    o.confirmacao,
    o.data_registro,

    o.agressor_presente,
    o.risco_imediato,
    o.crianca_idoso,
    o.deseja_contato,

    lv_freq.valor AS frequencia,
    lv_rel.valor AS relacao_vitima,
    lv_alcool.valor AS usa_alcool_drogas,
    lv_armas.valor AS existe_acesso_armas,

    ISNULL(tv.tipos_violencia, '') AS tipos_violencia

FROM dbo.ocorrencias o

LEFT JOIN dbo.lista_valores lv_freq
    ON lv_freq.id_valor = o.frequencia

LEFT JOIN dbo.lista_valores lv_rel
    ON lv_rel.id_valor = o.relacao_vitima

LEFT JOIN dbo.lista_valores lv_alcool
    ON lv_alcool.id_valor = o.usa_alcool_drogas

LEFT JOIN dbo.lista_valores lv_armas
    ON lv_armas.id_valor = o.existe_acesso_armas

LEFT JOIN (
    SELECT
        ot.id_ocorrencia,
        STRING_AGG(lv.valor, ', ') AS tipos_violencia
    FROM dbo.ocorrencia_tipo ot
    INNER JOIN dbo.lista_valores lv
        ON lv.id_valor = ot.id_valor
    GROUP BY ot.id_ocorrencia
) tv
    ON tv.id_ocorrencia = o.id_ocorrencia;
GO
/****** Objeto:  Table [dbo].[campos_lista]    Data do Script: 26/04/2026 23:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[campos_lista](
	[id_campo] [bigint] IDENTITY(1,1) NOT NULL,
	[campo] [varchar](max) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_campos_lista] PRIMARY KEY CLUSTERED 
(
	[id_campo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[campos_lista] ON 

INSERT [dbo].[campos_lista] ([id_campo], [campo], [status]) VALUES (1, N'Tipo de violência', 1)
INSERT [dbo].[campos_lista] ([id_campo], [campo], [status]) VALUES (2, N'Frequência', 1)
INSERT [dbo].[campos_lista] ([id_campo], [campo], [status]) VALUES (4, N'Relação com a vítima', 1)
SET IDENTITY_INSERT [dbo].[campos_lista] OFF
GO
SET IDENTITY_INSERT [dbo].[lista_valores] ON 

INSERT [dbo].[lista_valores] ([id_valor], [valor], [id_campo], [status]) VALUES (1, N'Física', 1, 1)
INSERT [dbo].[lista_valores] ([id_valor], [valor], [id_campo], [status]) VALUES (2, N'Patrimonial', 1, 1)
INSERT [dbo].[lista_valores] ([id_valor], [valor], [id_campo], [status]) VALUES (3, N'Psicológica', 1, 1)
SET IDENTITY_INSERT [dbo].[lista_valores] OFF


GO
ALTER TABLE [dbo].[lista_valores]  WITH CHECK ADD  CONSTRAINT [FK_lista_valores_campos_lista] FOREIGN KEY([id_campo])
REFERENCES [dbo].[campos_lista] ([id_campo])
GO
ALTER TABLE [dbo].[lista_valores] CHECK CONSTRAINT [FK_lista_valores_campos_lista]
GO
ALTER TABLE [dbo].[ocorrencia_tipo]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencia_tipo_lista_valores] FOREIGN KEY([id_valor])
REFERENCES [dbo].[lista_valores] ([id_valor])
GO
ALTER TABLE [dbo].[ocorrencia_tipo] CHECK CONSTRAINT [FK_ocorrencia_tipo_lista_valores]
GO
ALTER TABLE [dbo].[ocorrencias]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencias_lista_valores1] FOREIGN KEY([frequencia])
REFERENCES [dbo].[lista_valores] ([id_valor])
GO
ALTER TABLE [dbo].[ocorrencias] CHECK CONSTRAINT [FK_ocorrencias_lista_valores1]
GO
ALTER TABLE [dbo].[ocorrencias]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencias_lista_valores2] FOREIGN KEY([relacao_vitima])
REFERENCES [dbo].[lista_valores] ([id_valor])
GO
ALTER TABLE [dbo].[ocorrencias] CHECK CONSTRAINT [FK_ocorrencias_lista_valores2]
GO
ALTER TABLE [dbo].[ocorrencias]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencias_lista_valores3] FOREIGN KEY([usa_alcool_drogas])
REFERENCES [dbo].[lista_valores] ([id_valor])
GO
ALTER TABLE [dbo].[ocorrencias] CHECK CONSTRAINT [FK_ocorrencias_lista_valores3]
GO
ALTER TABLE [dbo].[ocorrencias]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencias_lista_valores4] FOREIGN KEY([existe_acesso_armas])
REFERENCES [dbo].[lista_valores] ([id_valor])
GO
ALTER TABLE [dbo].[ocorrencias] CHECK CONSTRAINT [FK_ocorrencias_lista_valores4]
GO
/****** Objeto:  StoredProcedure [dbo].[sp_registrar_ocorrencia]    Data do Script: 26/04/2026 23:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[sp_registrar_ocorrencia]
(
    @descricao VARCHAR(MAX),
    @data_ocorrencia DATE,
    @frequencia BIGINT,
    @cidade VARCHAR(MAX) = NULL,
    @bairro VARCHAR(MAX) = NULL,
    @endereco VARCHAR(MAX) = NULL,
    @relacao_vitima BIGINT,
    @agressor_presente BIT,
    @usa_alcool_drogas BIGINT,
    @risco_imediato BIT,
    @crianca_idoso BIT,
    @existe_acesso_armas BIGINT,
    @deseja_contato BIT,
    @telefone VARCHAR(MAX) = NULL,
    @email VARCHAR(MAX) = NULL,
    @confirmacao BIT,
    @tipos_violencia VARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @id_ocorrencia BIGINT;

        -- 🔥 SEQUENCE
        SET @id_ocorrencia = NEXT VALUE FOR dbo.seq_ocorrencias;

        INSERT INTO dbo.ocorrencias
        VALUES
        (
            @id_ocorrencia,
            @descricao,
            @data_ocorrencia,
            @frequencia,
            @cidade,
            @bairro,
            @endereco,
            @relacao_vitima,
            @agressor_presente,
            @usa_alcool_drogas,
            @risco_imediato,
            @crianca_idoso,
            @existe_acesso_armas,
            @deseja_contato,
            @telefone,
            @email,
            @confirmacao,
            GETUTCDATE()
        );

        INSERT INTO dbo.ocorrencia_tipo (id_valor, id_ocorrencia)
        SELECT CAST(value AS BIGINT), @id_ocorrencia
        FROM STRING_SPLIT(@tipos_violencia, ',');

        COMMIT;

        SELECT @id_ocorrencia AS id_ocorrencia;

    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
GO
